.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    padding-bottom: 12px;
}

.heroText {
    font-family: Primary;
    font-size: 42px;
    padding-left: 64px;
    padding-right: 32px;
    padding-bottom: 12px;
}