.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

.content {
    display: flex;
    flex-direction: column;
    padding: 48px;
}

.features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.panel {
    flex-direction: row;
    padding: 18px;
    width: 400px;
    margin-bottom: 32px;
    max-width: 100%;
}

.image {
    border: 1px solid var(--border);
    border-radius: 6px;
}

.panelContent {
    margin-left: 24px;
}

.panelContent h3 {
    margin-bottom: 14px;
    font-size: 22px;
}

.panelText {
    font-size: 14px;
    margin-right: 8px;
}