.contained {
    align-self: center;
    flex-direction: column;
    padding: 32px;
}

.demo {
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
}
